<br>
<br>
<br>
<div class="invoice-box">

    
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="tittle" style="width: 8%;">
                            <img src="../assets/logo-fondo.png" style="width: 100%;" />

                        </td>
                        <td class="heading" style="width: 40%; text-align: left">	
                            <h2 id="titulo">Profesional Care</h2>
                        </td>
                        <td style="width: 50%; text-align: left; padding-left:  20%">
                            Profesional Care, S.A.S.<br />
                            Av. 1 No. 11-81, Local 1. <br />
                            Cúcuta, Norte de Santander.
                        </td>

                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td style="width: 50%; text-align: left; ">
                            Gerente<br />
                            Rafael Ricardo Velasquez Ovalle<br />
                            ufps.seguridadsocial@gmail.com 



                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>Orden de Servicio</td>

            <td>Detalle</td>
        </tr>

        <tr class="details" >
            <td >
                fecha de pago<br />
                Telefono	<br />
                Mensaje<br />
                Banco<br />
                Id de la transaccion<br />
                email<br />
                Codigo de referencia<br />
                Estado de la transaccion
            </td>
            <td>	
                {{pago.processingDate}}<br />
                {{pago.telephone}}<br />
                {{pago.message}}<br />
                {{pago.pseBank}}<br />
                {{pago.transactionId}}<br />
                {{pago.buyerEmail}}<br />
                {{pago.referenceCode}}<br />
                {{pago.transactionState}}<br />
            </td>



        </tr>

        <tr class="total">
            <td></td>
