<div class="notifications">
    <div *ngFor="let notification of notifications" class="notification" [ngClass]="className(notification)">
        <ng-container *ngTemplateOutlet="notificationTpl;context:{notification:notification}"></ng-container>
    </div>
</div>

<ng-template #notificationTpl let-notification="notification">

    <div class="title">
        <div>{{notification.title}}</div>
        <button type="button" class="notificacion-close" (click)="close(notification)">
            &times;
        </button>
    </div>

    <div class="message">{{notification.message}}</div>

</ng-template>