<br>
<br>

<div class="container">
  <div class="card-deck row">
    <div class="card col-md-3">
      <div class="d-flex justify-content-center">
        <img class="card-img-top" src="assets/company.png" alt="company.png">
      </div>
      
      <div class="card-body">
        <h5 class="card-title text-center">Empresa</h5>
      </div>
    </div>
    <div class="card col-md-3">
      <div class="d-flex justify-content-center">
      <img class="card-img-top" src="assets/planes.png" alt="planes.png">
    </div>
      <div class="card-body">
        <h5 class="card-title text-center">Planes</h5>
      </div>
    </div>
    <div class="card col-md-4">
      <div class="d-flex justify-content-center">
      <img class="card-img-top" src="assets/cobro.png" alt="cobro.png">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Cuentas de cobro</h5>
      </div>
    </div>
    <div class="card col-md-4">
      <div class="d-flex justify-content-center">
      <img class="card-img-top" src="assets/solicitudes.png" alt="solicitudes.png">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Solicitudes</h5>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck row">
    <div class="card col-md-4">
      <div class="d-flex justify-content-center">
      <img class="card-img-top" src="assets/reportes.png" alt="reportes.png">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Reportes</h5>
      </div>
    </div>
    <div class="card col-md-4">
      <div class="d-flex justify-content-center">
      <img class="card-img-top" src="assets/cobro.png" alt="cobro.png">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Cuentas de cobro</h5>
      </div>
    </div>
    <div class="card col-md-4">
      <div class="d-flex justify-content-center">
      <img class="card-img-top" src="assets/solicitudes.png" alt="solicitudes.png">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Solicitudes</h5>
      </div>
    </div>
    <div class="card col-md-4">
      <div class="d-flex justify-content-center">
      <img class="card-img-top" src="assets/reportes.png" alt="reportes.png">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">Reportes</h5>
      </div>
    </div>
  </div>
</div>