<div class="container-fluid">
    <div class="card mb-3 ">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Solicitudes
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Busqueda</label>
                            <input type="text" [(ngModel)]="busquedaFiltro" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tipo de Estado</label>
                            <select class="form-control" [(ngModel)]="estadoFiltro">
                                <option value="">Todos</option>
                                <option value="PENDIENTE">Pendientes</option>
                                <option value="NEGADA">Negadas</option>
                                <option value="APROBADA">Aprobadas</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group justify-content-center align-items-center">
                          <div>
                            <label>Buscar por Fecha</label>
                            <input type="checkbox" [(ngModel)]="porFechaFiltro" style="display: block;">
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="porFechaFiltro">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" [(ngModel)]="fechaFiltro" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center m-2">
                <a *ngIf="!cargando" class="btn btn-primary m-1" href="#" onclick="return false;" (click)="busqueda()">Listar</a>
                <button *ngIf="cargando" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Cargando...
                </button>
            </div>
            <table class=" mt-2 table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Soportes</th>
                        <th>Nombre Cliente</th>
                        <th>Identificacion Cliente</th>
                        <th>Plan</th>
                        <th>Estado</th>
                        <th>Repuesta</th>
                        <th>Observaciones</th>
                        <th>Acción</th>
                        <!-- <th>Estado</th> -->

                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="solicitudes.length == 0">
                        <td colspan="8" align="center">No hay registros</td>
                    </tr>
                    <tr *ngFor="let plan of solicitudes; let i = index">

                        <td style="width: 10%;" >
                            <a *ngFor="let sop of plan.soportes" [href]="urlBase+'file/'+sop.file.id"
                            [download]="urlBase+'file/'+sop.file.id" target="_blank">{{sop.descripcion}}</a>
                        </td>
                        <td>{{plan.ssptCliente.nombre1}} {{plan.ssptCliente.nombre2}} {{plan.ssptCliente.apellido1}} {{plan.ssptCliente.apellido2}}</td>
                        <td>{{plan.ssptCliente.tipoIdentificacion.tipo}} {{plan.ssptCliente.identificacion}}</td>
                        <td>{{plan.ssptPlan.titulo}}</td>
                        <td>{{plan.estadoSolicitud}}</td>
                        <td>{{plan.respuesta}}</td>
                        <td>{{plan.observaciones}}</td>
                      <td>
                           <button class="btn btn-outline-info btn-sm p-1" (click)="editPlan(plan)" title="Editar"> <i
                                    class="fa fa-edit"></i> Responder</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
