<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200" id="container_img">
        <img id="imagen_login" src="assets/login.jpg" class="img-responsive" alt="Image" class="img-fluid">
      </div>
      <div class="card card-container" data-aos="zoom-out" data-aos-delay="200">
          <img id="profile-img" class="profile-img-card" src="http://www.asambleamurcia.es/sites/default/files/avatar_4.jpg" />
          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" method="post">
              <span id="reauth-email" class="reauth-email"></span>
              <input type="text" id="username" class="form-control" formControlName="username" placeholder="Usuario" required autofocus>
              <input type="password" id="password" class="form-control" formControlName="password" placeholder="Contraseña" required>
              <div id="remember" class="checkbox">
                  <label>
                      <input type="checkbox" value="remember-me"> Recuérdame
                  </label>
              </div>
              <button class="button" type="submit" value="Ingresar">Iniciar sesión</button>
              <div *ngIf="isLoginFailed" class="alert alert-danger mt-3">
                Error: {{errorMessage}}
              </div>
          </form><!-- /form -->
      </div><!-- /card-container -->
    </div>
  </div><!-- /container -->
</div>

<!-- <div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img id="imagen_login" src="assets/login.jpg" class="img-responsive" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Iniciar Sesion</h3>
            </div>
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" method="post">
              <label>Usuario:</label>
              <div class="form-group">
                <input type="text" class="form-control" id="username" formControlName="username" placeholder="Usuario">
              </div>
              <br>
              <label>Contraseña:</label>

              <div class="form-group last mb-4 ">

                <input type="password" class="form-control" id="password" formControlName="password"
                  placeholder="Contraseña">
              </div>
              <input id="boton_login" type="submit" value="Ingresar" class="btn btn-block btn-primary">
              <div *ngIf="isLoginFailed" class="alert alert-danger mt-3">
                Error: {{errorMessage}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
