<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="#" class="logo d-flex align-items-center">

      <img id="logo_nav" src="assets/logo-fondo.png" alt="">
      <span id="text_navbar">PROFESIONAL CARE</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a id="text_navbar" class="nav-link scrollto active" href="#">Inicio</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="#about">Quienes Somos</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="#pricing">Planes</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="" onclick="return false;"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="[ '/inicio/afiliacion' ]">Afiliación</a></li>
        <li><a id="boton_navbar" class="getstarted scrollto" href="" onclick="return false;"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="[ '/inicio/signin' ]">Iniciar Sesion</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" style="color: white;"></i>
    </nav>

  </div>
</header>
<br><br>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img id="imagen_login" src="assets/login.jpg" class="img-responsive" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Iniciar Sesion</h3>
            </div>
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" method="post">
              <label>Usuario:</label>
              <div class="form-group">
                <input type="text" class="form-control" id="username" formControlName="username" placeholder="Usuario">
              </div>
              <br>
              <label>Contraseña:</label>

              <div class="form-group last mb-4 ">

                <input type="password" class="form-control" id="password" formControlName="password"
                  placeholder="Contraseña">
              </div>
              <input id="boton_login" type="submit" value="Ingresar" class="btn btn-block btn-primary">
              <div *ngIf="isLoginFailed" class="alert alert-danger mt-3">
                Error: {{errorMessage}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<footer class="footer text-white" style="background-color: #343759;">
  <div class="container">
    <div class="copyright text-white">
      &copy; Copyright <strong><span>ProfesionalCare</span></strong>. All Rights Reserved.
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#header" class="back-to-top scrollto d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
