<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#" onclick="return false" [routerLink]="[ '/main/solicitudes' ]">Solicitudes</a>
    </li>
    <li class="breadcrumb-item active">Actualizar</li>
  </ol>

  <div class="card mb-3 ">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Actualizar Plan
    </div>
    <div class="card-body">

      <form [formGroup]="proveedorForm" *ngIf="proveedor.id" (ngSubmit)="onSubmit()">        
        <div class="form-group">
          <label>
            Id Solicitud:
          </label>
          <input type="text" class="form-control" [value]="proveedor.id">
        </div>  
        <div class="form-group">
          <label>
            Identificación cliente:
          </label>
          <input type="text" class="form-control" [value]="proveedor.ssptCliente.identificacion">
        </div>  
        <div class="form-group">
          <label>
            Primer Nombre:
          </label>
          <input type="text" class="form-control" [value]="proveedor.ssptCliente.nombre1">
        </div>  
        <div class="form-group">
          <label>
            Segundo Nombre:
          </label>
          <input type="text" class="form-control" [value]="proveedor.ssptCliente.nombre2">
        </div> 
        <div class="form-group">
          <label>
            Respuesta:
          </label>
          <select class="form-control" formControlName="respuesta">
            <option value="APROBADA">Aceptada</option>
            <option value="NEGADA">Negada</option>
          </select>
        </div> 
        <div class="form-group">
          <label>
            Observaciones:
          </label>
          <textarea  class="form-control" formControlName="observaciones"></textarea>
        </div> 

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success" [disabled]="!proveedorForm.valid">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
