<br>
<br>
<div class="container">

  <div class="card mb-3 ">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Actualizar Empresa
    </div>
    <div class="card-body">

      <form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-6">
            <label>
              Nombre:
            </label>
            <input type="text" class="form-control" [value]="proveedor.nombre" readonly disabled>
          </div>

          <div class="form-group col-6">
            <label>
              Identificación:
            </label>
            <input type="text" class="form-control" [value]="proveedor.nit" readonly disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <label>
              Teléfono:
            </label>
            <input type="text" class="form-control" formControlName="telefono">
          </div>

          <div class="form-group col-6">
            <label>
              Email:
            </label>
            <input type="text" class="form-control" formControlName="email">
          </div>
        </div>
        <div class="form-group">
          <label>
            Dirección:
          </label>
          <input type="text" class="form-control" formControlName="direccion">
        </div>
        <div class="form-group">
          <label>
            Misión:
          </label>
          <textarea class="form-control" formControlName="mision"></textarea>
        </div>

        <div class="form-group">
          <label>
            Visión:
          </label>
          <textarea class="form-control" formControlName="vision"></textarea>
        </div>

        <div class="form-group">
          <div class="custom-file">
            <input accept="image/x-png,image/jpeg" type="file" class="custom-file-input" id="customFileLang" lang="es"
              (change)="handleFileInput($event)">
            <label class="custom-file-label" for="customFileLang">{{nameFile?nameFile: 'Seleccione una
              fotografia'}}</label>
          </div>
        </div>

        <div class="form-group">
          <label>
            Cambiar datos de PayU:
          </label>
          <input type="checkbox" formControlName="updatePagos">
        </div>

        <div class="form-row" *ngIf="proveedorForm.get('updatePagos').value">
          <div class="form-group col-6">
              <label>
                Merchant Id:
              </label>
              <input type="text" class="form-control" formControlName="merchantId">
          </div>
          <div class="form-group col-6">
              <label>
                Account Id:
              </label>
              <input type="text" class="form-control" formControlName="accountId">
          </div>
          <div class="form-group col-6">
              <label>
                Currency:
              </label>
              <input type="text" class="form-control" formControlName="currency">
          </div>
          <div class="form-group col-6">
              <label>
                Test:
              </label>
              <input type="text" class="form-control" formControlName="test">
          </div>
          <div class="form-group col-6">
              <label>
                Response Url:
              </label>
              <input type="text" class="form-control" formControlName="responseUrl">
          </div>
          <div class="form-group col-6">
              <label>
                Confirmation Url:
              </label>
              <input type="text" class="form-control" formControlName="confirmationUrl">
          </div>
          <div class="form-group col-6">
              <label>
                Url:
              </label>
              <input type="text" class="form-control" formControlName="url">
          </div>
          <div class="form-group col-6">
              <label>
                API:
              </label>
              <input type="text" class="form-control" formControlName="api">
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="button" [disabled]="!proveedorForm.valid">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>