<br>
<br>
<br>
<div class="container justify-content-center" id = "container-consulta">
    <h3 class="text-center">Consultar Factura</h3>
    <form class="row">
      <div class="col-3">
        <select class="form-control" aria-label="Default select example">
          <option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.label}}</option>
        </select>
      </div>
      <div class="col-6">
        <label for="documento" class="visually-hidden">No. documento</label>
        <input type="text" class="form-control" id="documento" placeholder="No. documento">
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-primary mb-3" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[ '/inicio/mostrar-orden' ]">Consultar</button>
      </div>
    </form>
</div>
