<section class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img id= "portada1" src="assets/40c29289-1307-4465-861e-db36efdfde99.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up " data-aos-delay="600" class="lessSize" style="text-align: center; color: black;"> TU SEGURIDAD ESTÁ EN TUS MANOS </h1>
        <div data-aos="fade-up" data-aos-delay="50">
          <br>
          <div class="d-flex justify-content-center text-lg-start ">
              <button [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[ '/inicio/afiliacion' ]" class="button">Afiliate ya!</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</section><!-- End Hero -->





<div class="container-2">
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row gx-0">
        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3 data-aos-delay="100" class="title-3" style="text-align: center; color: black;">¿Quiénes somos?</h3>
            <br>
            <h6 data-aos="fade-up" data-aos-delay="100" style="text-align: justify;">
              En nuestra empresa te ofrecemos una propuesta comercial la cual permite brindar 
              una mayor seguridad en cuanto a la afiliación de seguridad social,
              seguimiento de los servicios adquiridos de acuerdo con las necesidades presentes y futuras,
              con el fin de ofrecerles la mejor asesoría en suministro de planillas verificables.
              Profesional Care brinda un respaldo y una trayectoria con excelentes referencias por
              parte de nuestros clientes a los cuales se les administra en departamento de Nómina. </h6>
            <br>
            <h3 data-aos-delay="100" style="text-align: center; color: black;">Misión</h3>
            <br>
            <h6 data-aos="fade-up" data-aos-delay="100" id="prin_qmv" style="text-align: justify;">{{empresa.mision}}</h6>
            <br>
            <h3 data-aos-delay="100"style="text-align: center; color: black;">Visión</h3>
            <br>
            <h6 data-aos="fade-up" data-aos-delay="100" id="prin_qmv" style="text-align: justify;">{{empresa.vision}}</h6>
          </div>
        </div>
        <div id="portada2-container" class="col-lg-6" data-aos="zoom-out" data-aos-delay="200">
          <img id="portada2" src="assets/portada.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
  <script>
    $(document).ready(function () {
      $('#icon').click(function () {
        $('ul').toggleClass('show');
      });
    });
  </script>
  <main id="main">
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <p style="text-align: center; color: black;">Planes</p>
        </header>
        <br>
        <div class="row gy-4" data-aos="fade-left">
          <div *ngFor="let plan of planes; let i = index" class="col-lg-3 col-md-6" data-aos="zoom-in"
            [data-aos-delay]="i+1*100">
            <div id="box_plan" class="box">
              <h3 id="text-hover" [style]="'color: '+plan.color+';'">{{plan.titulo}}</h3>
              <div id="text-hover_precio" class="price">{{plan.precio | currency}}</div>
              <img *ngIf="!plan.file" src="assets/pricing-free.png" class="img-fluid" alt="">
              <img *ngIf="plan.file" [src]="urlBase+'file/'+plan.file.id" [alt]="plan.file.fileName" class="img-fluid">
              <ul class="mb-0">
                <li id="text-hover_t">{{plan.servicios}}</li>
                <li id="text-hover_t">{{plan.descripcion}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <section id="clients" class="clients">
    <div class="container-fluid" data-aos="fade-up" style = "width: 80%;">
      <header class="section-header">
        <p style="text-align: center; color: black;">Convenios EPS</p>
      </header>
      <div class="clients-slider swiper-container">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="assets/eps-sanitas.jpg" class="img-fluid" alt="sanitas"></div>
          <div class="swiper-slide"><img src="assets/sura_blanco.jpg" class="img-fluid" alt="sura"></div>
          <div class="swiper-slide"><img src="assets/coomeva.jpg" class="img-fluid" alt="coomeva"></div>
          <div class="swiper-slide"><img src="assets/porvenir.jpg" class="img-fluid" alt="porvenir"></div>
          <div class="swiper-slide"><img src="assets/aportes_en_linea.jpg" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
</div>
