

<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="#" class="logo d-flex align-items-center">

      <img id="logo_nav" src="assets/logo-fondo.png" alt="">
      <span id="text_navbar">PROFESIONAL CARE</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a id="text_navbar" class="nav-link scrollto active" href="#">Inicio</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="#about">Quienes Somos</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="#pricing">Planes</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="" onclick="return false;" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[ '/inicio/afiliacion' ]">Afiliación</a></li>
        <li><a id="boton_navbar" class="getstarted scrollto" href="" onclick="return false;" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[ '/inicio/signin' ]">Iniciar Sesion</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" style="color: white;"></i>
    </nav>

  </div>
</header>
<br><br>
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Una manera sencilla de pagar tus aportes a seguridad social en linea</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Si ya estas afiliado con nosotros puedes consultar aqui tus pagos pendientes</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[ '/inicio/afiliacion' ]">
              <span>¡Afiliate ya!</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/portada.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<div class="container-2">
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h2 class="title-3">¿Quienes somos?</h2>
            <h5 style="text-align: justify;">
              Para nuestra empresa, es de gran importancia presentarles a ustedes una propuesta comercial
              La cual permita brindarle mayor seguridad en cuanto a la afiliación de seguridad social
              Seguimiento de sus servicios adquiridos, de acuerdo con sus necesidades presentes y futuras,
              Con el fin de ofrecerles la mejor asesoría en suministro de planillas verificables.
              PROFESIONAL CARE le brinda un respaldo y una trayectoria con excelentes referencias por
              parte
              de nuestros clientes a los cuales se les administra en departamento de Nómina. </h5>
          </div>
          <div class="content">
            <h2>Mision</h2>

            <h5 id="prin_qmv" style="text-align: justify;">{{empresa.mision}}</h5>
          </div>
          <div class="content">
            <h2>Vision</h2>
            <h5 id="prin_qmv" style="text-align: justify;">{{empresa.vision}}</h5>

          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/40c29289-1307-4465-861e-db36efdfde99.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section>

  <script>
    $(document).ready(function () {
      $('#icon').click(function () {
        $('ul').toggleClass('show');
      });
    });
  </script>

  <main id="main">

    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Mira los planes que podemos ofrecerte</h2>
          <p>PLANES</p>
        </header>

        <br>


        <div class="row gy-4" data-aos="fade-left">

          <div *ngFor="let plan of planes; let i = index" class="col-lg-3 col-md-6" data-aos="zoom-in"
            [data-aos-delay]="i+1*100">
            <div id="box_plan" class="box">
              <h3 id="text-hover" [style]="'color: '+plan.color+';'">{{plan.titulo}}</h3>
              <div id="text-hover_precio" class="price">{{plan.precio | currency}}</div>
              <img *ngIf="!plan.file" src="assets/pricing-free.png" class="img-fluid" alt="">
              <img *ngIf="plan.file" [src]="urlBase+'file/'+plan.file.id" [alt]="plan.file.fileName" class="img-fluid">
              <ul class="mb-0">
                <li id="text-hover_t">{{plan.servicios}}</li>
                <li id="text-hover_t">{{plan.descripcion}}</li>
              </ul>

            </div>
          </div>

        </div>

      </div>

    </section>

  </main>

  <section id="clients" class="clients">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Convenios EPS</p>

        <p>Entidades Prestadoras de Salud</p>
      </header>

      <div class="clients-slider swiper-container">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="assets/eps-sanitas.jpg" class="img-fluid" alt="sanitas"></div>
          <div class="swiper-slide"><img src="assets/sura_blanco.jpg" class="img-fluid" alt="sura"></div>
          <div class="swiper-slide"><img src="assets/coomeva.jpg" class="img-fluid" alt="coomeva"></div>
          <div class="swiper-slide"><img src="assets/porvenir.jpg" class="img-fluid" alt="porvenir"></div>
          <div class="swiper-slide"><img src="assets/aportes_en_linea.jpg" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </section>
</div>


<!--<footer class="footer text-white" style="background-color: #343759;">
  <div class="row m-0">

    <br>
    <div class="col-sd-6 col-md-6 col-lg-6 col-xl-6">
      <br><br>
      <h3>Sobre Nosotros</h3>
      <h5>{{empresa.razonSocial}}</h5>
    </div>
    <br>
    <div class="col-sd-6 col-md-6 col-lg-6 col-xl-6">
      <br><br>
      <h3>Contactenos</h3>
      <br>
      <div class="place">
        <h6 class="fas fa-map-marker-alt"></h6>
        <h6 class="text">{{empresa.direccion}}</h6>
      </div>
      <br>
      <div class="phone">
        <h6 class="fas fa-phone-alt"></h6>
        <h6 class="text">{{empresa.telefono}}</h6>
      </div>
      <br>
      <div class="email">
        <h6 class="fas fa-envelope"></h6>
        <h6 class="text">{{empresa.email}}</h6>
      </div>
    </div>
  </div>

  <br>
  <br>

  <p class="d-flex justify-content-center align-items-center">
    <span class="me-3">No pierdas esta oportunidad</span>
    <button type="button" class="btn btn-outline-light btn-rounded" href="" onclick="return false;" [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[ '/inicio/afiliacion' ]">
      Afiliate ya!
    </button>
  </p>
  <div class="text-center p-3">
    © 2021 Copyright: PROFESIONAL CARE
  </div>
</footer>
-->
<footer class="footer text-white" style="background-color: #343759;">
<div class="footer-top">
  <div class="container">
    <div class="row gy-12">
      <div class="col-lg-12 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="./img/logo.png" alt="">
          <span>Profesional Care</span>
        </a>
        <p>Professional Care es una empresa de centro de pagos y gestión de afiliaciones a seguridad social.</p>
        
      </div>

   

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <p>Contactanos</p>
        </header>
       
            <div class="row col-lg-12 align-items-center justify-content-center">
              <div class="col-md-2">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Direccion</h3>
                  <p>{{empresa.direccion}}</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Llamanos</h3>
                  <p>{{empresa.telefono}}</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Correo Electronico</h3>
                  <p>profesionalcareseccional@gmail.com</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Horario</h3>
                  <p>lunes - viernes<br>8:00AM - 6:00PM</p>
                </div>
              </div>

            </div>
 
        
      </div>
    </section> 

    </div>
  </div>
</div>

<div class="container">
  <div class="copyright">
    &copy; Copyright <strong><span>ProfesionalCare</span></strong>. All Rights Reserved
  </div>

</div>
</footer><!-- End Footer -->




<a href="#header" class="back-to-top scrollto d-flex align-items-center justify-content-center"><i
  class="bi bi-arrow-up-short"></i></a>



