<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="#" class="logo d-flex align-items-center">

      <img id="logo_nav" src="assets/logo-fondo.png" alt="">
      <span id="text_navbar">PROFESIONAL CARE</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a id="text_navbar" class="nav-link scrollto active" href="#">Inicio</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="#about">Quienes Somos</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="#pricing">Planes</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="" onclick="return false;"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="[ '/inicio/afiliacion' ]">Afiliación</a></li>
        <li><a id="boton_navbar" class="getstarted scrollto" href="" onclick="return false;"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="[ '/inicio/signin' ]">Iniciar Sesion</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" style="color: white;"></i>
    </nav>

  </div>
</header>
<br>
<br>
<br>
<br>
<br>
<br><br>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-sd-8 col-md-8 col-lg-8 col-xl-8" style="border-style: solid; border-color:#343759;">
      <br>
      <h3 class="text-center">Formulario de Afiliación</h3>
      <br>
      <div class="well well-sm">

        <form (ngSubmit)="onSubmit()" [formGroup]="solicitudForm">

          <fieldset>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="col-md-12">
                  <div class="row ">

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Primer Nombre:
                      </label>
                      <input type="text" class="form-control" formControlName="nombre1" placeholder="Primer nombre"
                        required>
                    </div>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Segundo Nombre:
                      </label>
                      <input type="text" name="nombre2" class="form-control" formControlName="nombre2"
                        placeholder="Segundo nombre" required>
                    </div>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Primer Apellido:
                      </label>
                      <input type="text" class="form-control" name="apellido1" formControlName="apellido1"
                        placeholder="Primer apellido" required>
                    </div>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Segundo Apellido:
                      </label>
                      <input type="text" class="form-control" name="apellido2" formControlName="apellido2"
                        placeholder="Segundo apellido" required>

                    </div>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Tipo de identificación:
                      </label>
                      <select class="form-control" formControlName="idTipoIdentificacion">
                        <option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.label}}</option>
                      </select>
                    </div>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Numero de identificación:
                      </label>
                      <input type="text" class="form-control" name="apellido2" formControlName="identificacion"
                        placeholder="Identificación" required>
                    </div>
                    <br><br><br>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Teléfono:
                      </label>
                      <input type="text" class="form-control" name="apellido2" formControlName="telefono"
                        placeholder="Teléfono" required>
                    </div>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Correo Eletronico:
                      </label>
                      <input type="text" class="form-control" name="apellido2" formControlName="correo"
                        placeholder="Correo Electronico" required>
                    </div>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Departamento:
                      </label>
                      <select class="form-control" (ngModelChange)="getMunicipios($event)" [(ngModel)]="departamento"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let tipo of departamentos" [ngValue]="tipo">{{tipo.nombreDepartamento}}</option>
                      </select>
                    </div>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Municipio:
                      </label>
                      <select class="form-control">
                        <option></option>
                        <option *ngFor="let tipo of municipios" value="{{tipo.idMunicipio}}">{{tipo.nombreMunicipio}}
                        </option>
                      </select>
                    </div>
                    <br><br><br><br>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Dirección:
                      </label>
                      <input type="text" class="form-control" name="apellido2" formControlName="direccion"
                        placeholder="Dirección" required>
                    </div>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Profesión:
                      </label>
                      <input type="text" class="form-control" formControlName="profesion" placeholder="Profesión"
                        required>
                    </div>

                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Tipo de Plan:
                      </label>
                      <select class="form-control" formControlName="idTipoPlan">
                        <option *ngFor="let tipo of tiposPlan" value="{{tipo.id}}">{{tipo.servicios}}</option>
                      </select>
                    </div>



                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Tipo de Cliente:
                      </label>
                      <select class="form-control" formControlName="idTipoCliente">
                        <option *ngFor="let tipo of tiposCliente" value="{{tipo.id}}">{{tipo.descripcion}}</option>
                      </select>
                    </div>


                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Adjunte su Cédula:
                      </label>
                      <div class="custom-file">
                        <input accept="application/pdf" type="file" class="custom-file-input" id="customFileLang"
                          lang="es" (change)="handleFileInput($event)">
                        <label class="custom-file-label" for="customFileLang">{{nameFile?nameFile: 'Seleccione un
                          archivo'}}</label>
                      </div>
                      <label>
                        <P>(Solo Formato .PDF)</P>
                      </label>
                    </div>



                    <div class="form-group col-sd-6 col-md-6 col-lg-6 col-xl-6">
                      <label>
                        Observaciones:
                      </label>
                      <textarea type="text" class="form-control" formControlName="observaciones"
                        placeholder="Observaciones"></textarea>
                    </div>



                    <div
                      class="col-sd-12 col-md-12 col-lg-12 col-xl-12 justify-content-center text-center align-items-center">
                      <!-- <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div> -->

                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <br>
    </div>
  </div>
</div>
<br><br>




<!-- Footer -->

<footer class="footer text-white" style="background-color: #343759;">
  <div class="row m-0">

    <br>
    <div class="col-sd-6 col-md-6 col-lg-6 col-xl-6">
      <br><br>
      <h3>Sobre Nosotros</h3>
      <h5>{{empresa.razonSocial}}</h5>
    </div>
    <br>
    <div class="col-sd-6 col-md-6 col-lg-6 col-xl-6">
      <br><br>
      <h3>Contactenos</h3>
      <br>
      <div class="place">
        <h6 class="fas fa-map-marker-alt"></h6>
        <h6 class="text">{{empresa.direccion}}</h6>
      </div>
      <br>
      <div class="phone">
        <h6 class="fas fa-phone-alt"></h6>
        <h6 class="text">{{empresa.telefono}}</h6>
      </div>
      <br>
      <div class="email">
        <h6 class="fas fa-envelope"></h6>
        <h6 class="text">{{empresa.email}}</h6>
      </div>
    </div>

  </div>

  <br>
  <br>

  <p class="d-flex justify-content-center align-items-center">
    <span class="me-3">No pierdas esta oportunidad</span>
    <button type="button" class="btn btn-outline-light btn-rounded">
      Afiliate ya!
    </button>
  </p>


  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright: PROFESIONAL CARE
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->







<a href="#header" class="back-to-top scrollto d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i></a>
