

<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="#" class="logo d-flex align-items-center">

      <img id="logo_nav" src="assets/logo-fondo.png" alt="">
      <span id="text_navbar">PROFESIONAL CARE</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a id="text_navbar" class="nav-link scrollto active" href="#hero">Inicio</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="#about">Quienes Somos</a></li>
        <li><a id="text_navbar" class="nav-link scrollto" href="#pricing">Planes</a></li>
        <li><a id="boton_navbar" class="getstarted scrollto" href="" onclick="return false;" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[ '/inicio/signin' ]">Iniciar Sesion</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" style="color: white;"></i>
    </nav>

  </div>
</header>
<br><br>

<section id="registrar" class="contact">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p>Afiliate</p>
    </header>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8">
        <form action="forms/contact.php" method="post" class="php-email-form">
          <div class="row gy-4">
            <div class="col-md-6">
              <input type="text" name="nombres" class="form-control" placeholder="Nombres" required>
            </div>
            <div class="col-md-6 ">
              <input type="text" class="form-control" name="apellidos" placeholder="Apellidos" required>
            </div>
            <div class="input-group">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Tipo de documento</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cedula de ciudadania</a></li>
                <li><a class="dropdown-item" href="#">PEP</a></li>
                <li><a class="dropdown-item" href="#">Tarjeta migratoria</a></li>
            </ul>
            </div>
            <div class="col-md-6 ">
              <input type="number" class="form-control" name="numero de documento" placeholder="Numero de documento" required>
            </div>
            <div class="col-md-6 ">
              <input type="text" class="form-control" name="Profesion" placeholder="Profesion" required>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="Departamento" placeholder="Departamento" required>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="Ciudad" placeholder="Ciudad o Municipio" required>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="direccion" placeholder="Direccion" required>
            </div>
            <div class="col-md-12">
              <input type="text" class="form-control" name="Numero" placeholder="Numero de contacto" required>
            </div>
            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Situacion laboral" required>
            </div>
            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Correo Electronico" required>
            </div>
            <div class="input-group">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Tipo de afiliacion</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Independiente</a></li>
                <li><a class="dropdown-item" href="#">Dependiente</a></li>
              </ul>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                &nbsp;Sin beneficiarios
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                &nbsp;Hijos
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                &nbsp; Pareja e hijos
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                &nbsp;Mis padres
              </label>
            </div>
            <div class="input-group">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Seleccionar plan</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Salud</a></li>
                <li><a class="dropdown-item" href="#">Salud+pension</a></li>
                <li><a class="dropdown-item" href="#">Salud+ccf</a></li>
                <li><a class="dropdown-item" href="#">Salud+ccf+pension</a></li>
              </ul>
            </div>
            <div class="input-group">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">¿Desea contratar arl?</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Riesgo 1</a></li>
                <li><a class="dropdown-item" href="#">Riesgo 2</a></li>
                <li><a class="dropdown-item" href="#">Riesgo 3</a></li>
                <li><a class="dropdown-item" href="#">Riesgo 4</a></li>
                <li><a class="dropdown-item" href="#">Riesgo 5</a></li>
              </ul>
            </div>
            <div class="col-md-12 ">
              <label> <p>Adjunta tu cedula</p></label>
              <input type="file" class="form-control" name="adjuntatusdocumentos" placeholder="Adjunta tu cedula" required>
            </div>
            <div class="col-md-12 ">
              <label> <p>Adjunta documento de beneficiarios(Si los hay)</p></label>
              <input type="file" class="form-control" name="adjuntatusdocumentos" placeholder="Documento del beneficiario" required>
            </div>
            <div class="col-md-4 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
              <button type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>



<footer id="footer" class="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row gy-12">
        <div class="col-lg-12 col-md-12 footer-info">
          <a href="#" class="logo d-flex align-items-center">
            <img src="assets/logo.png" alt="">
            <span>Profesional Care</span>
          </a>
          <p>{{empresa.razonSocial}}</p>
        </div>

        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">
            <header class="section-header">
              <p>Contactanos</p>
            </header>

            <div class="row col-lg-12 mb-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Dirección</h3>
                  <p>{{empresa.direccion}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Llamanos</h3>
                  <p>{{empresa.telefono}}</p>
                </div>
              </div>
            </div>
            <div class="row col-lg-12 mb-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Correo Electronico</h3>
                  <p>{{empresa.email}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Horario</h3>
                  <p>Lunes a Viernes<br>8:00AM - 6:00PM</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Profesional Care</span></strong>. Todos los derechos reservados - 2021
    </div>

  </div>
</footer>

<a href="#header" class="back-to-top scrollto d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

