<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[ '/main/' ]">
    <a class="nav-link" href="" onclick="return false;">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>&nbsp;Inicio</span>
    </a>
</li>
<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[ '/main/empresa' ]">
    <a class="nav-link" href="" onclick="return false;">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>&nbsp;Empresa</span>
    </a>
</li>